<div [@bounce]="bounce">
<div align="left">
<button id="btnback1" name="btnback1" class="btn_amarelo" matTooltip="Voltar" (click)="Voltar()"><mat-icon>navigate_before</mat-icon></button>
</div> 
<div class="example-container" align="center">
  <div class="barheader">{{'RELATÓRIO DE' | translate}} {{'Bonificação' | translate | uppercase}}</div>
  <div><p>{{apiService.strParametros}}</p></div>
      <table class="table table-borderless" align="center" width="100%"> 
        <thead class="thead-light"> 
        <th>{{'Código' | translate}}</th>
        <th>{{'Cardápio' | translate}}</th>
        <th>{{'Vendedores' | translate}}</th>
        <th>{{'Pontos' | translate}}</th>
        </thead> 
        <tbody> 
          <tr *ngFor="let bonificacao of apiService.arrbonificacao"> 
           <td>{{bonificacao.bon_codigo}}</td>
           <td>{{bonificacao.car_nome}}</td>
           <td>{{bonificacao.ven_nome}}</td>
           <td>{{bonificacao.bon_pontos}}</td>
          </tr> 
          <tr id="thead-light" *ngIf="tem_total">
          <td>{{'TOTAL GERAL' | translate}}</td> 
        <td></td>
        <td></td>
        <td></td>
        </tr> 
        </tbody> 
      </table> 
  <div align="right"> 
     <button [disabled]=true id="btnchart" name="btnchart" class="btn_amarelo" matTooltip="{{'Gráficos' | translate}}" (click)="GoogleChart()"><mat-icon>pie_chart</mat-icon></button> 
     <button id="btnprint" name="btnprint" class="btn_amarelo" matTooltip="{{'Imprimir' | translate}}" (click)="Imprimir()"><mat-icon>printer</mat-icon></button> 
     <button id="btnback" name="btnback" class="btn_amarelo" matTooltip="{{'Voltar' | translate}}" (click)="Voltar()"><mat-icon>navigate_before</mat-icon></button> 
  </div> 
</div> 
</div>
