 
<form #form="ngForm" autocomplete="off" *ngIf="apiService.formParRel" (submit)="onSubmit(form)"> 
 <hr> 
 <div class="barheader"class="text-center">FILTRO RELATÓRIOS USUARIOS</div> 
 <hr> 
    <div class="example-container"> 
    <mat-form-field> 
      <mat-label>Descrição</mat-label>
      <mat-select name="par_gus_descricao" #par_gus_descricao="ngModel" [(ngModel)]="apiService.formParRel.par_gus_descricao"> 
        <mat-option [value]="">TODAS</mat-option> 
        <mat-option *ngFor="let grupo_usuarios of arrgrupo_usuarios" [value]="grupo_usuarios.gus_descricao">
          {{grupo_usuarios.gus_descricao}} 
        </mat-option> 
      </mat-select> 
    </mat-form-field> 
  </div> 
 
<div class="button-row"> 
   <button type="submit" class="btn_amarelo" [disabled]="!validateForm">Imprimir</button> 
   <button type="button" (click)="onCancelar()" class="btn_amarelo"><i class="fa fa-close"></i> Cancelar</button> 
</div> 
</form> 
