<div [@bounce]="bounce">
  <form #form="ngForm" autocomplete="off">  
    <div class="example-container" align="center">
  <cdk-virtual-scroll-viewport [ngClass]="{'item-peq':Device=='M', 'item-nor':Device=='D'}" itemSize="200" >  
            <h4><b><p>{{'cadastro de' | translate | uppercase}} {{'Sabores' | translate | uppercase}} </p></b></h4> 
              <p>{{'Sabores de Cardápio' | translate}}</p> 
              <h6><p><b>{{'CAMPOS' | translate}}:</b></p></h6> 
              <p><b>{{'Cardápio' | translate}}: </b>{{'Cardapio' | translate}}</p> 
              <p><b>{{'Código' | translate}}: </b>{{'Codigo' | translate}}</p> 
              <p><b>{{'Descrição' | translate}}: </b>{{'Descrição do Sabor' | translate}}</p> 
              <p><b>{{'Nome' | translate}}: </b>{{'Nome do Sabor' | translate}}</p> 
              <p><b>{{'Valor Adicional' | translate}}: </b>{{'Valor adicional do Sabor ' | translate}}</p> 

        </cdk-virtual-scroll-viewport> 
    </div>  
    <hr> 
    <div><button class="btn_amarelo3" type="button" [mat-dialog-close]><mat-icon>close</mat-icon></button></div> 
  </form> 
</div>
