<div [@bounce]="bounce">
<div align="left">
<button id="btnback1" name="btnback1" class="btn_amarelo" matTooltip="Voltar" (click)="Voltar()"><mat-icon>navigate_before</mat-icon></button>
</div> 
<div class="example-container" align="center">
  <div class="barheader">RELATÓRIO SINTÉTICO POR DATA</div>
  <div><p>{{apiService.strParametros}}</p></div>
      <table class="table table-borderless" align="center" width="100%"> 
        <thead class="thead-light"> 
        <th>Data</th>
       <!-- <th>Categoria</th>
        <th>Produto</th>-->
        <th>Subtotal</th>
        <th>Quantidade</th>
        </thead> 
        <tbody> 
          <tr *ngFor="let lista_pedidos of apiService.arrlista_pedidos"> 
           <td>{{lista_pedidos.ped_datahora | date:'dd/MM/yyyy'}}</td>
          <!-- <td>{{lista_pedidos.cat_nome}}</td>
           <td>{{lista_pedidos.car_nome}}</td>-->
           <td>{{lista_pedidos.ite_subtotal}}</td>
           <td>{{lista_pedidos.ite_qtde}}</td>
          </tr> 
          <tr id="thead-light" *ngIf="tem_total">
          <td>TOTAL GERAL</td> 
        <!--<td></td>
        <td></td>-->
        <td>{{totalgeralite_subtotal | number}}</td>
        <td>{{totalgeralite_qtde | number}}</td>
        </tr> 
        </tbody> 
      </table> 
  <div align="right"> 
     <button id="btnchart" name="btnchart" class="btn_amarelo" matTooltip="Gráficos" (click)="GoogleChart()"><mat-icon>pie_chart</mat-icon></button> 
     <button id="btnprint" name="btnprint" class="btn_amarelo" matTooltip="Imprimir" (click)="Imprimir()"><mat-icon>printer</mat-icon></button> 
     <button id="btnback" name="btnback" class="btn_amarelo" matTooltip="Voltar" (click)="Voltar()"><mat-icon>navigate_before</mat-icon></button> 
  </div> 
</div> 
</div>
