 
<div [@bounce]="bounce">
<form #form="ngForm" autocomplete="off" *ngIf="apiService.formParRel" (submit)="onSubmit(form)"> 
 <hr> 
 <div class="barheader"class="text-center">{{'FILTRO RELATÓRIO' | translate}} {{'Endereço' | translate | uppercase}}</div> 
 <hr> 
<div class="button-row"> 
   <button type="submit" class="btn_amarelo" [disabled]="!validateForm">{{'Imprimir' | translate}}</button> 
   <button type="button" (click)="onCancelar()" class="btn_amarelo"><i class="fa fa-close"></i>{{'Cancelar' | translate}}</button> 
</div> 
</form> 
</div>
