<div [@bounce]="bounce">
<div class="example-container" align="center">

  <div align="center" class="barheader">{{'Bonificação' | translate | uppercase}}</div>

  <div> 
  <div class="example-container" align="center"> 
    <div class="row">  
      <div class="col-sm-0" *ngIf="Device=='D'">  
        <mat-icon>menu_book</mat-icon>  
      </div> 
      <div class="col-sm"> 
        <input class="browser-default custom-select" type="search" (keyup)="applyFilter($event.target.value)" placeholder="{{'CONSULTAR' | translate}}" > 
      </div> 
      <div class="col-sm-0" *ngIf="Device=='D'"> 
        <mat-icon>search</mat-icon> 
      </div> 
    </div> 
  </div> 
  <div class="example-container" align="center"> 
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" align="center" width="100%"> 
    <div *ngIf="Device=='D'">
    <!--COLUNA TABELA LISTA BON_CODIGO-->
    <ng-container matColumnDef="bon_codigo"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <div *ngIf="apiService.formVisible.bon_codigo">{{'Código' | translate}}</div> </th> 
      <td mat-cell *matCellDef="let element"> <div *ngIf="apiService.formVisible.bon_codigo">{{element.bon_codigo}} </div> </td>
    </ng-container> 
    </div>
    <div *ngIf="Device=='D'">
    <!--COLUNA TABELA LISTA VEN_NOME-->
    <ng-container matColumnDef="ven_nome"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <div *ngIf="apiService.formVisible.ven_codigo">{{'Vendedores' | translate}}</div> </th> 
      <td mat-cell *matCellDef="let element"> <div *ngIf="apiService.formVisible.ven_codigo">{{element.ven_nome}} </div> </td>
    </ng-container> 
    </div>
  
    <!--COLUNA TABELA LISTA CAR_NOME-->
    <ng-container matColumnDef="car_nome"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <div *ngIf="apiService.formVisible.car_codigo">{{'Cardápio' | translate}}</div> </th> 
      <td mat-cell *matCellDef="let element"> <div *ngIf="apiService.formVisible.car_codigo">{{element.car_nome}} </div> </td>
    </ng-container> 

    <div *ngIf="Device=='D'">
    <!--COLUNA TABELA LISTA BON_PONTOS-->
    <ng-container matColumnDef="bon_pontos"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <div *ngIf="apiService.formVisible.bon_pontos">{{'Pontos' | translate}}</div> </th> 
      <td mat-cell *matCellDef="let element"> <div *ngIf="apiService.formVisible.bon_pontos">{{element.bon_pontos}} </div> </td>
    </ng-container> 
    </div>
      <ng-container matColumnDef="buttons"> 
        <mat-header-cell *matHeaderCellDef></mat-header-cell> 
        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> 
          <button *ngIf="permissaoDelete('bonificacao')" mat-icon-button matTooltip="{{'Excluir' | translate}}" aria-label="Excluir registro" (click)="deletebonificacao(element)"> 
            <mat-icon>delete</mat-icon> 
          </button> 
        </mat-cell>  
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editbonificacao(row)"></tr> 
    </table> 
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
  </div> 
  <div style="margin-top:20px">
    <button *ngIf="permissaoInsert('bonificacao')" type="button" (click)="insertbonificacao()" class="btn_amarelo" ><i class="fa fa-close"></i>{{'Adicionar' | translate}}</button>
    <button type="button" (click)="filtrorelbonificacao()" class="btn_amarelo" ><i class="fa fa-close"></i>{{'Relatório' | translate}}</button>
  </div> 
</div> 
</div>
</div>
